
.box1 {
  width: 300px;   /* 横幅 */
  height: 300px;　　/* 高さ */
  background-color:  #f69896;　　/* 背景色をピンクのコートで指定 */
  padding: 30px;　/* 要素内側の余白 */
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  
  border: 5px solid yellow;　/* 枠線 */
}
